nav {
  background: #eeeeee;
  display: flex;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav > * {
  flex: 1;
}
nav a {
  color: #555555;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}
nav a:hover {
  color: #333333;
  text-decoration: underline;
}
body {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
body > :nth-child(2) {
  flex-grow: 1;
}
router-root {
  margin: 15px 0;
  display: flex;
}
